<div class="collection-filters" data-section-id="{{ section.id }}" data-section-type="collection-filters">

    <div class="collection-sort">
      <label for="SortTags" class="collection-sort__label">Filter By</label>
      <select name="SortTags" id="SortTags" aria-describedby="a11y-refresh-page-message a11y-selection-message" class="collection-sort__input">
        <option value="{{ collection.url }}"> {{ collection.title }}</option>
        {%- for tag in collection.all_tags -%}
          {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
          <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
        {%- endfor -%}
      </select>
    </div>


    <div class="collection-sort">
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      <label for="SortBy" class="collection-sort__label">Sort By</label>
      <select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message a11y-selection-message" class="collection-sort__input">
        {%- for option in collection.sort_options -%}
          <option value="{{ option.value }}"{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
        {%- endfor -%}
      </select>
    </div>

</div>
