<div class="blog-list-section container">
  <div class="row">

{% paginate blog.articles by 12 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}


  {% if blog.all_tags.size > 0 %}
    <h2>{{ 'blogs.general.categories' | t }}</h2>

    <ul>
      {% for tag in blog.all_tags %}

        {% if current_tags contains tag %}
          <li>{{ tag }}</li>
        {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endif %}


  {% comment %}

  Article Previews
  ====================
  {% endcomment %}


  {% case section.settings.post_limit %}
    {% when 1 %}
      {%- assign column_size = '12' -%}
    {% when 2 %}
      {%- assign column_size = '6' -%}
    {% when 3 %}
      {%- assign column_size = '4' -%}
    {% else %}
      {%- assign column_size = '4' -%}
  {% endcase %}

  {% for article in blog.articles %}

  <div class="full-collection-holder col-lg-{{ column_size }} col-md-6 col-xs-12" data-aos="flip-left">
      <a class="featured-collection-item" href="{{ article.url }}">

          {% if article.image %}
          <div class="featured-collection__image">
            <div class="product-img-container">
              {% include 'responsive-image' with
                image: article.image,
                max_width: 1024,
                max_height: 1024
              %}
            </div>
          </div>
          {% endif %}


    <p class="product-title">{{ article.title }}</p>

    {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

    {%- if section.settings.blog_show_date -%}
      <p class="post-date">
        {{ date }}
      </p>
    {%- endif -%}

    <p class="post-excerpt">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt | strip_html | truncatewords: 30 }}
      {% else %}
          {{ article.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

      <span class="btn">{{ 'blogs.article.read_more' | t }}</span>



    </a><!--.featured-collection-item ends-->

  </div><!--.full-collection-holder ends-->



    {% if blog.comments_enabled? or article.tags.size > 0 %}
      <ul class="hidden">
        {% if blog.comments_enabled? %}
          <li>
            <a href="{{ article.url }}#comments">
              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
            </a>
          </li>
        {% endif %}

        {% if article.tags.size > 0 %}
          {% for tag in article.tags %}
            <li>
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
              {% unless forloop.last %}, {% endunless %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}


  {% endfor %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

  </div>
</div>


{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ]
  }
{% endschema %}
