{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

{% case section.settings.post_limit %}
  {% when 1 %}
    {%- assign column_size = '12' -%}
  {% when 2 %}
    {%- assign column_size = '6' -%}
  {% when 3 %}
    {%- assign column_size = '4' -%}
  {% else %}
    {%- assign column_size = '4' -%}
{% endcase %}

<section class="full-collection">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2 class="featured-collection__title title">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}


    <div class="full-collection-products row">
      {% for product in collection.products limit: 6 %}
      <div class="full-collection-holder col-md-{{ column_size }} col-sm-6 col-xs-12" data-aos="flip-left">
        <a class="featured-collection-item" href="{{ product.url | within: collection }}">
            {% if product.featured_image != blank %}
              <div class="featured-collection__image">
                <div class="product-img-container">
                  {% include 'responsive-image' with
                    image: product.featured_image,
                    max_width: 480,
                    max_height: 480
                  %}
                </div>
              </div>
            {% endif %}

        <p class="product-title title">{{ product.title | escape }}</p>

        {%- if section.settings.vendor -%}
          <p class="product-category">{{ product.vendor }}</p>
        {%- endif -%}

        {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              <div class="on-sale_badge">
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale' | t }}
              </div>
              <p class="product-money">{{ product.price | money }} <span class="strike">{{ product.compare_at_price | money }}</span></p>
            {% else %}
              <div class="on-sale_badge">
                {{ 'products.product.on_sale' | t }}
              </div><!--.on-sale_badge ends-->
              <p class="product-money">{{ product.price | money }}</p>
            {% endif %}

        {% else %}
          {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            <p class="product-money">{{ 'products.product.from_text_html' | t: price: price }}</p>
          {% else %}
            <p class="product-money">{{ product.price | money }}</p>
          {% endif %}
        {% endif %}

        {%- if section.settings.buy_button_active -%}
          <span class="btn">{{ section.settings.buy_button }}</span>
        {% endif %}

        </a><!--.featured-collection-item ends-->


      </div><!--.full-collection-holder ends-->

      {% else %}
        {% for i in (1..6) %}
          <div class="full-collection-holder col-md-{{ column_size }} col-sm-6 col-xs-12" data-aos="flip-left">
              <a href="{{ product.url | within: collection }}" class="featured-collection-item">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                <div class="product-img-container">
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
                </div>

                <p class="product-title title">{{ 'homepage.onboarding.product_title' | t }}</p>

                {%- if section.settings.vendor -%}
                  <p class="product-category">Example vendor</p>
                {%- endif -%}

                <p class="product-money">{{ 1999 | money }}</p>

                {%- if section.settings.buy_button_active -%}
                  <span class="btn">{{ section.settings.buy_button }}</span>
                {% endif %}
              </a>
          </div><!--.full-collection-holder ends-->
        {% endfor %}
      {% endfor %}
    </div><!--.full-collection-products ends-->

    {% if section.settings.show_view_all != blank %}
    <div class="view-all-products">
      <a class="btn" href="{{ collection.url }}">View All</a>
    </div><!--.view-all-products ends-->
    {% endif %}


  </div>
</section>


{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": {
          "en": "Show view all button"
        },
        "default": true
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "vendor",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "buy_button_active",
        "label": "Buy Button",
        "default": true
      },
      {
        "type": "text",
        "id": "buy_button",
        "label": "Button Title",
        "default": "Buy Now"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
