{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Rich text" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the rich text section
  - Text: description of the rich text section
{%- endcomment -%}

{% capture image_bg %}
  {%- if section.settings.image_bg != blank -%}
  {{ section.settings.image_bg | img_url: 'master'}}
  {%- endif -%}
{% endcapture %}

<style>
  .about-info-{{ section.id }}{
    color: {{ section.settings.text_color }};
    background-color: {{ section.settings.bg_color }};
  }

  .about-info-{{ section.id }} .about-year{
    color: {{ section.settings.bg_title_color }};
  }

  .about-info-{{ section.id }} .btn{
    color: {{ section.settings.btn_text_color }};
    background-color: {{ section.settings.btn_bg_color }};
    border-color: {{ section.settings.btn_border_color }};
  }

  .about-info-{{ section.id }} .btn:hover{
    color: {{ section.settings.btn_text_color_hover }};
    background-color: {{ section.settings.btn_bg_color_hover }};
    border-color: {{ section.settings.btn_border_color_hover }};
  }

  .about-info-{{ section.id }}{
    border: 1px solid {{ section.settings.section_border_color }};
    {%- if section.settings.section_border  == false -%}
    border: none;
    {%- endif -%}
  }

</style>

<section class="about-info about-info-{{ section.id }}" style=" background-image: url({{ image_bg }});" data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="100"
     data-aos-offset="150">
  <div class="container">
    <div class="row">
      {%- if section.settings.title_icon_image != blank  -%}
        <div class="title_icon">
          <img src="{{ section.settings.title_icon_image | img_url: 'master'}}" alt="">
        </div><!--.title_icon ends-->
      {%- endif -%}

      {%- if section.settings.title != blank -%}
      <div class="element-hold col-xs-12">
        {%- if section.settings.title_bg != blank -%}
        <div class="about-year">{{ section.settings.title_bg }}</div>
        {%- endif -%}
        <h2 class="title{% if section.settings.title_bg != blank %} mass-padding {% endif %}" style="color: {{ section.settings.text_color }};">{{ section.settings.title | escape }}</h2>
      </div>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        {{ section.settings.text }}
      {%- endif -%}

      {%- if section.settings.button_label != blank -%}
        <a class="btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      {%- endif -%}
    </div>
  </div>
</section><!--.about-info ends-->

{% schema %}
  {
    "name": "Rich text",
    "settings": [
      {
        "type": "checkbox",
        "id": "section_border",
        "label": "Section Border",
        "default": true
      },
      {
        "type": "color",
        "id": "section_border_color",
        "label": "Border color",
        "default": "#eeeeee"
      },
      {
        "type": "image_picker",
        "id": "title_icon_image",
        "label": "Title icon image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Talk about your brand"
      },
      {
        "type": "text",
        "id": "title_bg",
        "label": "Background Title"
      },
      {
        "type": "color",
        "id": "bg_title_color",
        "label": "Background Title Color",
        "default": "#7fc6a4"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "da": "Knapetiket",
          "de": "Button-Name",
          "en": "Button label",
          "es": "Etiqueta de botón",
          "fi": "Painikkeen merkintä",
          "fr": "Texte du bouton",
          "hi": "बटन लेबल",
          "it": "Etichetta pulsante",
          "ja": "ボタンラベル",
          "ko": "버튼 레이블",
          "ms": "Label butang",
          "nb": "Knappetikett",
          "nl": "Knoplabel",
          "pt-BR": "Etiqueta do botão",
          "pt-PT": "Etiqueta do botão",
          "sv": "Knappetikett",
          "th": "ป้ายกำกับปุ่ม",
          "zh-CN": "按钮标签",
          "zh-TW": "按鈕標籤"
        },
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "da": "Knaplink",
          "de": "Button-Link",
          "en": "Button link",
          "es": "Enlace de la diapositiva",
          "fi": "Painikkeen linkki",
          "fr": "Lien du bouton",
          "hi": "बटन लिंक",
          "it": "Link slide",
          "ja": "スライドリンク",
          "ko": "버튼 링크",
          "ms": "Pautan butang",
          "nb": "Kobling for knapp",
          "nl": "Knoplink",
          "pt-BR": "Link do slide",
          "pt-PT": "Ligação do botão",
          "sv": "Knapplänk",
          "th": "ลิงก์ของปุ่ม",
          "zh-CN": "按钮链接",
          "zh-TW": "按鈕連結"
        }
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#444444"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": {
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Antecedentes",
          "fi": "Tausta",
          "fr": "Contexte",
          "hi": "पृष्ठभूमि",
          "it": "sfondo",
          "ja": "バックグラウンド",
          "ko": "배경",
          "ms": "Latar belakang",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "sv": "Bakgrund",
          "th": "พื้นหลัง"
        },
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button text",
        "default": "#444444"
      },
      {
        "type": "color",
        "id": "btn_text_color_hover",
        "label": "Button text Hover",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_bg_color",
        "label": "Button Background",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_bg_color_hover",
        "label": "Button Background Hover",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "btn_border_color",
        "label": "Button Border",
        "default": "#444444"
      },
      {
        "type": "color",
        "id": "btn_border_color_hover",
        "label": "Button Border Hover",
        "default": "#000"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background Image"
      }
    ],
    "presets": [{
        "name": "Rich text",
        "category": "Text"
    }]
  }
{% endschema %}
